ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

body {
  font-family: "Montserrat";
  position: relative;
}

.container {
  width: 1140px;
  padding: 0px 15px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  color: #FFFFFF;
  padding: 15px 36px 15px 36px;
}

.header {
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
  padding: 40px 20px;
}

.header__active-page {
  position: relative;
}

.header__active-page::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #FFFFFF;
  display: block;
  position: absolute;
  left: 0;
  top: 100px;
}

.hero {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../../../FE-1_command-practice/img/hero.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../../FE-1_command-practice/img/hero.jpg);
  padding-top: 220px;
  padding-bottom: 335px;
  text-align: center;
}

.hero__text {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.hero__title {
  max-width: 829px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  margin: 20px auto 50px;
}

.services {
  padding-top: 110px;
  padding-bottom: 105px;
}

.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
  margin-bottom: 32px;
  width: 739px;
  margin-left: auto;
  margin-right: auto;
}

.services__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  width: 730px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 353px;
}

.services__content {
  padding-top: 46px;
}

.services__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
  margin-bottom: 12px;
}

.services__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #999999;
}

.services__svg {
  width: 40px;
  height: 40px;
  fill: #4985FF;
}

.circle-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  height: 110px;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 17px;
}

.circle-in {
  width: 90px;
  height: 90px;
  border: 1px solid #4985FF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.standards__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  text-align: left;
  color: #000000;
}

.standards__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  color: #999999;
}

.standards__pages {
  width: 500px;
  height: 400px;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}/*# sourceMappingURL=main.css.map */