.hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../../img/hero.jpg);
    padding-top: 220px;
    padding-bottom: 335px;
   text-align: center;
}

.hero__text {
    color: $secondary-color;
font-weight: 500;
font-size: 16px;
line-height: 1.25;
}



.hero__title {
    max-width: 829px;
    font-weight: 800;
font-size: 48px;
line-height: 1.33;
color: $secondary-color;
// margin-top: 20px;
// margin-bottom: 50px;
// margin-left: auto;
// margin-right: auto;
margin: 20px auto 50px;
}

.hero__button{
    @extend %button;
    margin-right: auto;
    margin-left: auto;
}

// ANIMATIONS

.hero__text-up  {
   animation: to-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms both;
}


.hero__title-right {
  animation: to-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms both ;
}


.hero__button-bottom {
    animation: to-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both ;
}

