.project-section{
    background-color: $background-color;
    outline: 2px red solid;
    padding-top: 100px;
    padding-bottom: 130px;
}

.project-section__title{
    @include title($text-position: center, $title: $mini-title);
     
}

.project-section__text{
    @extend %text;
    margin-top: 28px;
    max-width: 730px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 70px;
}

.project-section__list{
  @include grid();
}

.project-section__item{
    @include grid-item($items: 4);
}

.project-section__button{
    @extend %button;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}