.services{
    padding-top: 110px;
    padding-bottom: 105px;
}

.services__title{
    @include title($text-position: center, $title: $title-color);
    margin-bottom: 32px;
    width: 739px;
    margin-left: auto;
    margin-right: auto;
}

.services__text{
    @extend %text;
    width: 730px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.services__list{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.services__item{
    display: flex;
    width: 353px;
    &:hover .circle-in {
        border-color: $primary-text-color;
    }
    &:hover .circle-out {
        border-color: $accent-color;
        transform: scale(1.05);
    }

    &:hover .services__svg {
      fill: $primary-text-color;
    }



}


.services__content{
    padding-top: 46px;
}

.services__name{
    @extend %sub-title;
    margin-bottom: 12px;
}

.services__info{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
    // width: 222px;
    color: $primary-text-color;
}

.services__svg{
    width: 40px;
    height: 40px;
    fill: $accent-color;
}

.circle-out{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 17px;
}

.services__button{
    @extend %button;
    display: block;
    margin: 55px auto 0px;

}

.circle-in{
    width: 90px;
    height: 90px;
    border: 1px solid $accent-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

// animations

.services__title-top {
    animation: to-bottom 1s cubic-bezier(0.23, 1, 0.320, 1) 2s both;
}



