.standarts {
    padding: 50px 0px 50px;
    background-color: #F6F6F8;

    @media screen and (min-width: 768px) {
        
    }

    @media screen and (min-width: 1140px) {
        padding: 100px 0px 70px;
    }
}
.standarts__title{
    @include title($text-position: left, $title: $mini-title);
    margin-bottom: 60px;
}
.standarts__text{
    @extend %text;
    margin-bottom: 42px;
}
.standarts__pages{
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    transition:transform 1s cubic-bezier(0.19, 1, 0.22, 1) 200ms ;
    display: block;
    @media screen and (min-width: 768px) {
        width: 500px;
        height: 400px;
    }

    @media screen and (min-width: 1140px) {
        
    }
&:hover {
    transform: scale(1.1);
}
}
.standarts__content {
    
    @media screen and (min-width: 768px) {
        width: 489px;
    }

    @media screen and (min-width: 1140px) {
        
    }
}
.standarts__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.standarts__link {
    @extend %links;
}
.standarts__line {
    border-top: 1px solid #E0E0E0;
    margin-top: 90px;
    margin-bottom: 70px;
}
.standarts__list {
    display: none;
    justify-content: space-evenly;

    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 1140px) {
        
    }
}
.standarts__list svg {
    width: 30px;
    height: 30px;
    fill: $accent-color;
}
.standarts__number {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.47;
    color: $mini-title;
}
.standarts__description {
    @extend %text;
}
.standarts__statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
}