@mixin title($text-position, $title) {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  text-align: $text-position;
  color: $title;
}

@mixin grid() {
    display: flex;
    margin-right: -30px;
    margin-bottom: -30px;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin grid-item($items) {
    flex-basis: calc((100% - (30px*$items)) / $items);
    margin-right: 30px;
    margin-bottom: 30px;
}