%button {
    background: $accent-color;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    border: none;
    color: $secondary-color;
    padding: 15px 36px 15px 36px;
}